/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1020px;
  }
}


.m-bottom-10 {
  margin-bottom: 10px;
}
.m-top-10 {
  margin-top: 10px;
}

.border-box {
  a {
    box-shadow: inset 0 0 0 1px $black !important;

    &:hover {
      box-shadow: inset 0 0 0 2px $black !important;
    }
  }

}
