* {
  box-sizing: border-box;
}

.hide {
  display: none;
}

.clear {
  clear: both;
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  width: 0;
}



@import "_variables.scss";
@import "_common.scss";
@import "_bootstrap.scss";

@import "_mobile";
@import "_tablet";
@import "_desktop";



