table.compares-result th {text-align: center}
.modEasyCompareItem {padding: 10px 0; border-bottom: 1px solid #eee;}
.modEasyCompareItem .uncompare img{padding: 0 15px 0 0;}
.mod_easycompare .showCompare {display: block;}