.cart-view {
  margin-top: 5px;
  fieldset{
    border: 1px solid #aaaaaa;
    padding: 10px;

    .see-wishlist {
      margin-top: 10px;
      width: 100%;
      text-align: center;
    }

    .continue {
      width: 100%;
      text-align: center;

    }

    .cart-images {
      display: block;
      float: left;
      margin-left: 0;
      position: relative;
      margin-right: 20px;
      width: 100%;
      text-align: center;
      img {
        height: auto;
        margin: 0;
        padding: 0;
        width: 100%;
      }
    }

    a.pdt_name {
      display: block;
      color: $black;
      text-decoration: none;
      text-transform: capitalize;
      font-weight: bold;
      font-size: 16px;
    }

    .PricesalesPrice {
      font-weight: bold;
      font-size: 16px;
      color: $black;
    }

    hr {
      margin-top: 10px;
      margin-bottom: 10px;
      border: 0;
      border-top: 1px solid #eee;

      &.bold-black {
        border-top: 1px solid $black;
      }
    }


    input.quantity-input {
      background: none;
      border:1px solid #eee;
      border-radius: 0;
    }

    form.inline {
      position: relative;
      &:before {
        content: '\f021';
        position: absolute;
        cursor: pointer;
        pointer-events: none;
        right: 5px;
        font-family: FontAwesome;
        font-size: 16px;
      }
    }
    .vm2-add_quantity_cart {
      background: none;
      width: 24px;
      height: 24px;
      border: 0px;
      cursor: pointer;
    }

    .border-bottom {
      border-bottom: 1px solid $black;
      padding-top: 20px;
      margin-bottom: 20px;
    }

    .remove-from-cart {
      font-size: 14px;
      color: #c2c2c2;
      line-height: 24px;
      display: block;
      padding-top: 0;
      text-decoration: none;
      text-align: right;
    }

    .culoarea {
      a {
        font-size: 14px;
        font-weight: normal;
        text-transform: lowercase;
        color: $black;
      }
    }

    a.btn.easyCompareButton {
      text-decoration: none;
      background: #fff;
      height: 24px;
      line-height: 24px;
      padding: 0 20px 0 40px;
      border-radius: 0;
      color: #2e2e2e;
      transition: 0.2s ease;
      width: 100%;
      border: 1px solid #2e2e2e;

      &:before {
        color: #2e2e2e;
        content: "\f08a";
        position: absolute;
        display: block;
        width: 20px;
        height: 20px;
        font-family: fontawesome;
        z-index: 2;
        left: 18px;
        top: -1px;
        font-size: 17px;
      }

      &:hover,
      &:focus,
      &:active {
        background: #fff;
        color: #c1c1c1;
        border: 1px solid #c1c1c1;

        &:before {
          color: $primary-color;
        }
      }

      &.btn-warning {
        background: #fff;
        border: 1px solid #c1c1c1;
        color: #c1c1c1;

        &:hover {
          background: #fff;
          color: $black;
          border: 1px solid $black;

          &:before {
            color: $black;
          }
        }

        &:before {
          color: $primary-color;
        }
      }
    }
  }

  .billto-shipto {
    border: 1px solid #aaaaaa;
    padding: 10px;

    .vm-button-correct {
      clear: both;
    }

    .vmpayment_description, .vmshipment_description, .vmshipment_cost {
      font-size: 9px;
    }

    .shipment-price {
      float: right;
      font-size: 14px;
    }

    hr {
      margin-top: 7.5px;
      margin-bottom: 7.5px;

      &.bold-black {
        border-top: 1px solid $black;
      }
    }
    .PricebillTotal {
      text-align: right;
    }

    .continue {
      width: auto;
      height: 31px;
      display: block;
      background: #4b4b4b;
      color: #fff;
      text-decoration: none;
      line-height: 31px;
      padding-left: 15px;
      text-align: center;
      padding-right: 15px;
      clear: both;
      margin: 0px auto;
      float: inherit;
    }
    i.fa.fa-pencil {
      border: 1px solid #ccc;
      padding: 1px 3px 3px 3px;
      width: 18px;
      height: 18px;
      color: #ccc;
    }

    div.terms-of-service {
      margin: 0;
      padding: 0;
      display: block;
      float: right;
      width: 90%;
      margin-bottom: 20px;
    }

    .checkout-button-top input.terms-of-service {
      margin-right: 10px;
      display: block;
      float: left;
    }

    a.terms-of-service {
      font-size: 12px;
      text-decoration: none;
      line-height: 14px;
    }
  }


  .cart-summary {

  }

  h2 {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 1px solid $black;
    margin-bottom: 20px;
  }

}


.fieldset_user2 #userForm table td input,
#component #password,
#component #username{
  background: none;
  height: 30px;
  margin-bottom: 10px;
  padding-left: 100px;
  border: 1px solid $black;
  border-radius: 0;
}

table.adminForm.user-details {
  width: 100%;
  input {
    width: 100%;
  }
}
.fieldset_user2 #userForm table td, #member-registration dd,#member-registration dt { position:relative;}

#userForm, #paymentForm {
  h1 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .buttonBar-right {
    margin-top: 20px;
  }
}

.mr-5 {
  margin-right: 5px;
}

.thanks {
  .align-center {
    margin: 0 auto !important;
    width: 300px;
    text-align: center;
    float: none;
    margin-top: 20px;
    display: block;
  }
}

#system-message {
  > dt.info {
    display: none;
  }
}